* {
  margin: 0;
}

body {
  background-color: #161616;
}

#toolbar {
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #535353;
    padding: 1vh;
    border-radius: 0.5vw;
    border: 1px solid rgb(119, 119, 119);

    > input {
      width: 2vw;
      height: 2vw;
    }
  }

  div:hover {
    border: #9b8383 1px solid;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 1vw;
  height: 100vh;
}

#preview {
  background-color: rgb(51, 58, 56);
  width: 33vw;
  height: 90vh;
  position: absolute;
  left: 33vw;
  top: 5vh;

  div * {
    border-bottom: 1px rgb(10, 10, 10) solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 9px;
  }
}

#inputs {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;
    align-items: center;
    justify-content: center;

    div {
        background-color: orange;
        padding: 2vw;
    }
}

.show {
    display: flex !important;
}