* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    background-color: lightgray;
    padding: 20px;

    display: flex;
    gap: 20px;

    section {
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: rgb(177, 177, 177);

        border-bottom: gray 2px solid ;

        > div {
            display: flex;
            gap: 20px;
        }
    }

    #properties {
        flex-direction: column;
        gap: 0;
        margin-top: 20px;
    }
}

#preview {
    margin: 20px;
    div {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        width: 500px;
    }

    > * {
        padding: 20px;
        border: black 2px solid;
    }
}

.hidden {
    display: none;
}