* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  color: whitesmoke;
}

body {
  background-color: #141516;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

aside {
  > * {
    padding: 20px;
    margin: 8px;
  }

  display: flex;
  flex-direction: column;
  gap: 4px;

  header {
    border-bottom: rgb(29, 27, 27) 4px solid;
    margin: 0;
    margin-bottom: 20px;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1e1e1f;

    > div {
      display: flex;
    }
  }

  #properties {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 1rem;
}

p {
  font-weight: 300;
}

input,
select,
button {
  color: #111d29;
  padding: 4px;
}

#preview {
  width: 100%;
  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  > * {
    padding: 20px;
    border: rgb(29, 27, 27) 4px solid;
  }

  #tabs {
    display: flex;
    flex-direction: row;
  }

  iframe {
    height: 75vh;
  }

  textarea {
    color: black;
  }
}

#layers {
  li {
    display: flex;
    margin-top: 4px;
    padding: 8px;
    background-color: #515153;

    justify-content: space-between;
    align-items: center;

    div {
      display: flex;

      div {
        display: flex;
        flex-direction: column
      };
    }
  }
}

.hidden {
  display: none !important;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.highlighted {
  border: solid 2px whitesmoke;
}